<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <div>
      <h1>Formulario de contacto</h1>
        <p class="p">Nombre: </p>
            <input type="text" [(ngModel)]="nombre">
        <p class="p">Email: </p>
            <input type="email" [(ngModel)]="email" >
        <p class="p">Mensaje: </p>
            <input type="text" [(ngModel)]="mensaje">
        <p class="p">{{a}} + {{b}}</p>
            <input type="number" [(ngModel)]="spam">
        <br>
        <button (click)="send()">Enviar</button>
    </div>
    <app-resultado [valor]="msn"></app-resultado>
    <router-outlet></router-outlet>
